@font-face {
  font-family: "bank-gothic-medium";
  src: url("./font/ufonts.com_bank-gothic-medium.ttf") format("truetype");
}

:root {
  --primary-font: "bank-gothic-medium", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: #1d2036;
  --secondary-color: #3f4163;
  --tertiary-color: #cfd0e2;
  /* Adjusted hex value */
  --font-color-dark: #1a1a1a;
  --font-color-light: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  background-color: var(--tertiary-color);
}

header {
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.8);
}

#about p {
  font-style: var(--secondary-font);
  font-size: 17px;
  line-height: 3;
}

header,
footer {
  background-color: var(--primary-color);
}

footer {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero h2,
.hero p {
  color: var(--font-color-light);
  text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.9);
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: var(--font-color-light);
}

/* start of phone styles */
@media screen and (max-width: 479px) {
  header {
    color: var(--font-color-light);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  button {
    margin-left: 1rem;
    padding: 2.5px;
    width: 80%;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    border: 2px solid var(--font-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  button:hover,
  .menu-list li:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 2px solid var(--tertiary-color);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  button:active {
    transform: scale(0.95);
  }

  button div {
    width: 1.375rem;
    margin: 2.5px;
    padding: 2.5px;
    background-color: var(--font-color-light);
    transition: background-color 0.3s ease;
  }

  button:hover div {
    background-color: var(--primary-color);
    transition: backgroud-color 0.3s ease;
  }

  .menu-list {
    width: 50% !important;
    padding: 0;
    margin-left: 0;
    margin-top: 16px;
    background-color: var(--primary-color);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .menu-list li {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .menu-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-list li:hover {
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0px 0px 5px rgba(207, 208, 226, 1);
    transition: background-color 0.3s ease;
  }

  header h1 {
    margin: 0 auto;
    letter-spacing: 1.5rem;
  }

  #services,
  #about {
    margin: 0;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the container */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind the content */
  }

  .hero {
    position: relative;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -82px;

    padding-bottom: 25px;
  }

  .hero h2 {
    margin-top: -250px;
    width: 80%;
  }

  .hero p {
    width: 80%;
  }

  .btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--font-color-light);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
  }

  #about,
  #services {
    padding: 0 50px;
  }

  #services h2 {
    margin-top: 85px;
    margin-bottom: -10px;
  }

  #services ul {
    padding: 0 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #services ul > li:first-child {
    margin-top: -40px;
  }

  #services ul li h4 {
    margin: 0 auto;
  }

  #services ul li p {
    margin-top: 0;
    padding-top: 5px;
  }

  footer {
    color: var(--font-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
  }

  footer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  footer h4 {
    margin-bottom: 15px;
  }

  footer a {
    color: var(--font-color-light);
    text-decoration: none;
    margin-bottom: 15px;
  }

  footer p {
    margin-top: -5px;
  }
}

/* start of medium tablet styles */
@media screen and (min-width: 480px) and (max-width: 991px) {
  header {
    color: var(--font-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  header h1 {
    margin: 0 auto;
    letter-spacing: 20px;
  }

  .menu-btn {
    display: none;
  }

  .dropdown-menu {
    margin: 0 auto;
    width: 50%;
    background-color: var(--primary-color);
    display: inline !important;
  }

  .menu-list {
    display: flex !important;
    justify-content: space-evenly;
    padding: 0;
    background-color: var(--primary-color);
  }

  .menu-list li a {
    background-color: var(--primary-color);
    transition: color ease 0.3s;
  }

  .menu-list li a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
    transition: color ease 0.3s;
  }

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the container */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind the content */
  }
  .hero {
    margin-top: -82px;
  }

  .hero h2 {
    font-size: 35px;
    margin-top: -150px;
  }
  .hero p {
    font-size: px;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .btn {
    background-color: var(--primary-color);
    color: var(--font-color-light);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  section {
    width: 80%;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  footer {
    color: var(--font-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
  }

  footer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  footer h4 {
    margin-bottom: 15px;
  }

  footer a {
    color: var(--font-color-light);
    text-decoration: none;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    transition: color ease 0.3s;
  }

  footer a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
    transition: color ease 0.3s;
  }
  footer p {
    margin-top: -5px;
  }
}

/* start of desktop styles */
@media screen and (min-width: 992px) {
  /* Add styles for desktop */

  header {
    color: var(--font-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  header h1 {
    letter-spacing: 20px;
    margin: 0 auto;
  }

  .menu-btn {
    display: none;
  }

  .dropdown-menu {
    margin: 0 auto;
    width: 50%;
    background-color: var(--primary-color);
    display: inline !important;
  }

  .menu-list {
    display: flex !important;
    justify-content: flex-end;
    padding: 0;
    background-color: var(--primary-color);
  }

  .menu-list li {
    margin: 0 3.5%;
  }

  .menu-list li a {
    background-color: var(--primary-color);
    transition: color ease 0.3s;
  }

  .menu-list li a:hover {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
    transition: color ease 0.3s;
  }
  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the container */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind the content */
  }
  .hero {
    margin-top: -82px;
  }

  .hero h2 {
    font-size: 50px;
    margin-top: -150px;
  }
  .hero p {
    font-size: 25px;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .btn {
    background-color: var(--primary-color);
    color: var(--font-color-light);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  section {
    width: 80%;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  footer {
    color: var(--font-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
  }

  footer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  footer h4 {
    margin-bottom: 15px;
  }

  footer a {
    color: var(--font-color-light);
    text-decoration: none;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    transition: color ease 0.3s;
  }

  footer a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
    transition: color ease 0.3s;
  }

  footer p {
    margin-top: -5px;
  }
}
